<!-- base.html -->
<!-- Description: this is a base file to use for additional templates -->
<!-- This is where our default boilerplate html lives -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">

    <!-- add linked Bootstrap CSS CDN  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Internal custom CSS -->
    <!-- Can't link directly to static/css/main.css using templates, have to use url_for instead -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

	<!-- Add Jinja2 syntax creating block in template for the title -->
    {% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Flash Learning</title>
    {% endif %}
    {% endblock %}

	<!-- Add Jinja2 syntax creating block in template for the head -->
	{% block head %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {%  endwith %}
	<!-- Add Jija2 syntax creating block in template for the body -->
	{% block body %}{% endblock %}

    <!-- External scripts for bootstrap (nav bar and side bar) -->
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Internal scripts -->
    <!-- Can't link directly to static/js/main.js using templates, have to use url_for instead -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
<footer>
    <p>Made by Team Penguin</p>
    <p>Project repo can be found <a href="https://github.com/team-penguin-hackathon/flash_learning">here</a>.</p>
</footer>




</html>