{% extend 'base_student.html' %}

{% block page_title %}Learn{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="float-left"><h5>Current Deck: (Deck Name)</h5></div><br>
    <div class="float-left"><h6>Current Subject: (Subject Name)</h6></div><br><br>

    <div id="cardArea"></div>
 	<div id="buttonArea">
 		<button type="button" class="btn btn-secondary">Next</button>
 		<button type="button" class="btn btn-primary btn-large">Submit</button>
 		<button type="button" class="btn btn-secondary">Previous</button>
 	</div>

<!-- Internal scripts -->
<script type="text/javascript" src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
{% endblock %}

