
<!-- Links to 'base_anon.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_anon.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}
<!-- Internal custom CSS -->
    <!-- Can't link directly to static/css/main.css using templates, have to use url_for instead -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq.css') }}">
{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}
<div class="content">

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Frequently Asked Questions</h1>
      </div>
    </div>

    </main>


<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0 text-left">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is the target age range of students who use this site?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body text-justify">
        Flash Learning offers flashcards for students ranging from Kindergarden to 8th grade. 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0 text-left">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Do I have to register in order to use the flashcards?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body text-justify">
        Yes, you must register. However, the process is easy and we do not require much information from you.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0 text-left">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          (some other question Asa can't think of now)
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body text-justify">
        (the answer to that question)
      </div>
    </div>
  </div>
</div>

{% endblock %}