
<!-- Links to 'base.html' as a base template file (this is where our default html boilerplate lives) -->
{% extends 'base.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}
<!-- Navigation bar -->
<div>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for("main.login") }}">Log In</a>
        <a href="{{ url_for("main.signup") }}">Register</a>
    {% else %}
        <a href="{{ url_for("main.logout") }}">Logout</a>
    {% endif %}
</div>
{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}
<div class="content">
	<h1>Flash Learning</h1>
    <p1>Welcome to Flash Learning! This site lets children from grades K through 8 to review their school subjects with
        flashcards, compare their scores with other students, and explore additional topics beyond their current grade
        level. Register today!</p1>
</div>
{% endblock %}
