
<!-- Links to 'base_anon.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_anon.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}
<!-- Navigation bar -->
<div>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for("main.login") }}">Log In</a>
        <a href="{{ url_for("email.signup") }}">Register</a>
    {% else %}
        <a href="{{ url_for("main.logout") }}">Logout</a>
    {% endif %}

    {% if current_user.activated==False %}
        <p>You have not confirmed your account. Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</p>
        <p>Didn't get the email? <a href="http://localhost:5000/resend">Resend</a>.</p>
    {% endif %}
</div>
{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}
<div class="content">
	
    <p1>Welcome to Flash Learning! This site lets children from grades K through 8 to review their school subjects with
        flashcards, compare their scores with other students, and explore additional topics beyond their current grade
        level. Register today!</p1>
</div>
{% endblock %}
