
<!-- Links to 'base.html' as a base template file (this is where our default html boilerplate lives) -->
{% extends 'base.html' %}

<!-- Jinja2 Template Block for title of webpage -->
{% block title %}
<title>Home Page for Flash Learning Web App</title>
{% endblock %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}
{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}
<form action="" method="post" id="signup" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.first_name.label }}:{{ form.first_name() }}
        {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.last_name.label }}:{{ form.last_name() }}
        {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.username.label }}:{{ form.username() }}
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}:{{ form.email() }}
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}:{{ form.password() }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.grade.label }}:{{ form.grade() }}
        {% for error in form.grade.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}