{% extends 'base_student.html' %}

{% block page_title %}Statistics{% endblock %}


{% block head %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Team Penguin">
  <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

  <!-- Custom styles for this template -->
  <style type="text/css">/* Chart.js */

@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>
{% endblock %}

{% block body %}


<div class="w-50 d-inline-block center">
  <div class="table-responsive">
    <table class="table text-center table-striped table-responsive table-hover table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
      <th class="align-middle" scope="col">Statistic</th>
      <th class="align-middle" scope="col">Measurement</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle" scope="row">Total Points<br><span class="smaller-text">(Sum of Points Received)</span></td>
      <td class="align-middle">{{score}}</td>
    </tr>
    <tr>
      <td class="align-middle" scope="row">Flashcard Accuracy<br><span class="smaller-text">(Correct Flashcards out of Total Flashcards Attempted)</span></td>
      <td class="align-middle">{{accuracy}}</td>
    </tr>
    <tr>
      <td class="align-middle" scope="row">Total Progress<br><span class="smaller-text">(Number of Flashcards Attempted out of Total Flashcards Available)</span></td>
      <td class="align-middle">{{progress}}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>


  <div class="container-fluid">
    <div class="justify-content-center row ">

      <main role="main" class="col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>


        <canvas class="my-4 chartjs-render-monitor" id="line-chart" width="614" height="259" style="display: block; width: 614px; height: 259px;"></canvas>
      </main>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="{{ url_for('static', filename='stats_charts/jquery-3.2.1.slim.min.js.download') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      
    
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      

      <!-- Graphs -->
      <script type="text/javascript" src="{{ url_for('static', filename='stats_charts/Chart.min.js.download') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/stats_graph.js') }}"></script>


{% endblock %}