{% extends 'base_student.html' %}
{% block head %}

<!-- Internal custom CSS -->
<!-- Can't link directly to static/css/main.css using templates, have to use url_for instead -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stats.css') }}">

{% endblock %}
{% block body %}

{% for score in scores %}
        <div>{{ score.username }} : {{ score.points }}</div>
    {% endfor %}

<!-- Container for chart -->
<div class="w-25 h-25 d-inline-block">
	<canvas id="line-chart" width="400" height="400"></canvas>
</div>


<!-- External Links to Chart.js for displaying the chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<!-- Internal script to run chart on page -->
<script type="text/javascript" src="{{ url_for('static', filename='js/stats_graph.js') }}"></script>
{% endblock %}
