/* main.css */

/* Adds main core color to be referenced in multiple other locations */
:root {
	--coreColor: #a8dfff;
};

body {

	/* Removes margin in body */
	margin: 0;

	/* Adds padding to bottom to account for footer*/
	padding-bottom: 70px;

	/* Set font family */
	font-family: sans-serif;
}

/* Updates the style for wrapper (used in navbar style) to fix width */
.wrapper {
	display: flex;
	width: 100%;
}

/* Style for main footer */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

/* Style for media images palceholder */
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/* Page container to lock main body above footer */
#page-container {
  position: relative;
  min-height: 100vh;
}

/* Footer styling to lock at bottom */
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-links {
	margin-bottom: 5rem;
}

/* Adds hover color on tables */
.table-hover tbody tr:hover td {
    background-color: var(--coreColor)!important;
}


/* Added responsive typography (over-ruling sizing for fonts) from bootstrap-table.com */
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

/* Add smaller text font */
.smaller-text {
  font-size: smaller;
}

/* Add general center class */
.center {
  margin-left: auto;
  margin-right: auto;
}