/* main.css */

body {

	/* Removes margin in body */
	margin: 0;

	/* Set font family */
	font-family: sans-serif;
}

/* Updates the style for wrapper (used in navbar style) to fix width */
.wrapper {
	display: flex;
	width: 100%;
}

/* Style for main footer */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

/* Style for media images palceholder */
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}